# Data exploration - sorting data

AAA

**Version log**

- Created by Robert Nyqvist 2022-12-13

## I. Libs & imports

### A. Notebook imports

In [11]:
# Standard imports
from pathlib import Path
import os
import sys
import warnings

# 3rd party imports
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Own imports
from configs import CONFIG_DIR
from log_sorting.config import load_config
from log_sorting.db_utils import load_sql_query, read_to_pandas
from log_sorting.constants import CONFIG_FILES
from sql import SQL_DIR

# Print out version numbers
print('Python       ' + sys.version[0:5])
print('Numpy        ' + np.__version__)
print('Pandas       ' + pd.__version__)
print('Matplotlib   ' + mpl.__version__)

# Supress warnings
warnings.filterwarnings('ignore')

Python       3.8.1
Numpy        1.21.6
Pandas       1.3.5
Matplotlib   3.6.2

## Test DWH connection

In [9]:
conf = load_config(CONFIG_FILES, CONFIG_DIR)

In [24]:
query = load_sql_query("get-log-sorting-data", SQL_DIR)
df = read_to_pandas(conf.mapptvr, query)

In [28]:
df.dtypes

year                 int64
week                 int64
species              int64
diameter_group      object
length_interval     object
logs                 int64
volume_m3fub       float64
dtype: object

In [27]:
df.iloc[:50]

    year  week  species diameter_group length_interval   logs  volume_m3fub
0   2022    45        2              a               -   6504      1206.962
1   2022    45        2              a         300-365    301        37.603
2   2022    45        2              a         366-375   5806       766.222
3   2022    45        2              a         376-475    944       139.644
4   2022    45        2              a         476-485    362        66.502
5   2022    45        2              a         496-535   1047       213.085
6   2022    45        2              a         536-545    171        35.572
7   2022    45        2              a         546-555   2184       455.238
8   2022    45        2              a         556-650     45         9.826
9   2022    45        2              b               -   4552      1471.152
10  2022    45        2              b         300-365    129        28.397
11  2022    45        2              b         366-375   3646       829.294
12  2022    45        2              b         376-475   5336      1290.362
13  2022    45        2              b         476-485     62        19.783
14  2022    45        2              b         496-535  13437      4504.945
15  2022    45        2              b         536-545    376       149.225
16  2022    45        2              b         546-555   4156      1539.904
17  2022    45        2              b         556-650    204        93.408
18  2022    46        1              b         496-535      1         0.255
19  2022    46        2              a               -   8982      1679.462
20  2022    46        2              a         300-365    463        59.101
21  2022    46        2              a         366-375   8072      1071.489
22  2022    46        2              a         376-475   1974       289.067
23  2022    46        2              a         476-485    566       104.972
24  2022    46        2              a         496-535   2821       557.503
25  2022    46        2              a         536-545    266        55.150
26  2022    46        2              a         546-555   2922       609.299
27  2022    46        2              a         556-650    114        23.875
28  2022    46        2              b               -   7929      2620.825
29  2022    46        2              b         300-365    215        47.075
30  2022    46        2              b         366-375   5588      1298.367
31  2022    46        2              b         376-475   8538      2122.455
32  2022    46        2              b         476-485    137        45.928
33  2022    46        2              b         496-535  21416      7238.863
34  2022    46        2              b         536-545    737       288.329
35  2022    46        2              b         546-555   6504      2467.396
36  2022    46        2              b         556-650    308       140.755
37  2022    47        2              a               -   5573      1052.430
38  2022    47        2              a         300-365    224        27.922
39  2022    47        2              a         366-375   4512       605.932
40  2022    47        2              a         376-475   1822       262.408
41  2022    47        2              a         476-485    285        53.911
42  2022    47        2              a         496-535   4400       859.453
43  2022    47        2              a         536-545    212        45.168
44  2022    47        2              a         546-555   1806       379.770
45  2022    47        2              a         556-650     46        10.338
46  2022    47        2              b               -   7143      2368.041
47  2022    47        2              b         300-365    143        31.464
48  2022    47        2              b         366-375   4339      1011.960
49  2022    47        2              b         376-475   6976      1750.281

In [ ]:
bluetoot